@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">May the Force be with you!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This link <a href="https://www.google.com">goes to Google</a>.</p>
    <p> The date and time are @DateTime.Now    </p>
</div>
